{% extends 'www/base.html' %}

{% block content %}
  <h1>Фильм {{ object.title }}</h1>

  <div class="card" style="width: 18rem;">
    <img src="media/films/de6a2cf27528d4cccd0113f56bd045881e4c706d.C175x248.png" class="card-img-top" alt="qwe">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  
{% endblock %}
